{% extends 'base.html.twig' %}

{% block title %}Page d'Ajout d'Articles{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Formulaire d'ajout d'articles</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Créer</button>
{{ form_end(form) }}

</div>
{% endblock %}